---
---

@import "{{ site.theme }}";

/* Force override Minima styles */

.post-content h1 { font-size: 26px !important; }
.post-content h2 { font-size: 20px !important; }
.post-content h3 { font-size: 17px !important; }
.post-content h4 { font-size: 15px !important; }

.post-content h1,
.post-content h2,
.post-content h3 {
  margin-top: 18px !important;
  margin-bottom: 8px !important;
}

.post-content p,
.post-content li {
  font-size: 15px;
  line-height: 1.7;
}

.wrapper {
  max-width: 850px;
}
