---
---

@import "minima";

/* Your custom styles */

h1 { font-size: 26px; }
h2 { font-size: 20px; }
h3 { font-size: 17px; }
h4 { font-size: 15px; }

h1, h2, h3 {
  margin-top: 18px;
  margin-bottom: 8px;
}

body {
  font-size: 15px;
  line-height: 1.7;
}

.wrapper {
  max-width: 850px;
}
